* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
  }

  :root {
    --rose: rgb(245, 211, 211);
    --black: rgb(107, 96, 96);
    --lighterp: rgb(240, 217, 221);
    --lighterb: rgb(184, 175, 175);
  }

  header {
    background: linear-gradient(to bottom right, var(--rose), var(--lighterb));;
    padding: 15px 30px 15px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@keyframes header {
    from {background-color: black;}
    to {background-color: linear-gradient(to bottom right, var(--rose), var(--lighterb));}
  }

nav a {
    text-decoration: none;
    padding: 5px 12px;
    color:beige;
    transition: all .20s ease-in;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

nav a:hover {
    background-color: var(--lighterb);
}

.button {
    border-radius: 28px;;
    padding: 5px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: ;
}

.hero-banner .ptag {
    background-image: url("../images/comuterpic.jpg");
    height: 600px;
    background-size: cover;
    background-position: center;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: var(--black);
    animation-name: hero;
    animation-duration: 2s;
  }

  @keyframes hero {
    from {opacity: 0;}
    to {opacity: .5}
  }


h1 {
    text-decoration: none;
    padding: 10px 20px;
    color: var(--black);
    transition: all .20s ease-in;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;  
}

.project-class {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: var(--black);
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mypic img {
    width: 250px;
    float: left;
}
  .card div {
    margin-top: 50%;
    color: white;
    border-radius: 5px;
    border-color: black;
    text-align: center;
    background-color: black;
    opacity: 60%;
    width: 100%;
  }

  .card:hover {
    background-color: var(--rose);
    transition: .8s ease;
    box-shadow: 0 5px 10px 0 black(0, 0, 0, 0.2), 0 6px 20px 0 black(0, 0, 0, 0.19);
    opacity: .5;
  }

  .horiseon {
    width: 200px;
    background-size: cover;
    background-position: center;
    background-image: url("../images/horiseon.png");
  }

  .password {
    background-size: cover;
    background-position: center;
    background-image: url("../images/pass-gen.png");
  }

  .d2e {
    background-size: cover;
    background-position: center;
    background-image: url("../images/donate.png");
  }

  .mystory {
    display: inline;
    flex-direction: row;
    text-decoration: none;
    padding-bottom: 60px;
    color: var(--black);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
  }

  #Contactme {
    display: inline;
    flex-direction: row;
    text-decoration: none;
    padding: 10px 20px;
    color: var(--black);
    transition: all .20s ease-in;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
  }

  footer {
    display: inline;
    padding: 30px 30px;
  }

  @media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }
  
    main {
      max-width: 1200px;
    }
  }
  