* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
  }
/*variables set to reuse colors*/
  :root {
    --rose: rgb(236, 218, 218);
    --dark: rgb(136, 131, 131);
    --lighterp: rgb(228, 190, 196);
    --lighterb: rgb(151, 91, 91);
  }

  /*header with nav bar in it*/
  header {
    padding: 15px;
    padding: 15px 30px 15px 30px;
    color: var(--dark);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  @keyframes header {
    from {background-color:var(--lighterb);}
    to {background-color: linear-gradient(to bottom right, var(--rose), var(--lighterb));}
  }

  header h1 {
    color: var(--lighterp);
}

/*nav bar layout*/
  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
/*href styling*/
nav a {
    text-decoration: none;
    padding: 5px 12px;
    color: var(--dark);
    transition: all .20s ease-in;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

nav a:hover {
    background-color: var(--lighterp);
}

.button {
    border-radius: 28px;;
    padding: 5px 4px;
    text-align: center;
    text-decoration: none;
}

/*herobanner*/
.hero-banner .ptag {
    background-image: url("../images/comuterpic.jpg");
    height: 600px;
    background-size: cover;
    background-position: center;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: var(--dark);
    animation-name: hero;
    animation-duration: 2s;
  }

  @keyframes hero {
    from {opacity: 0;}
    to {opacity: .5}
  }

.project-class {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: var(--black);
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
}

.project-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  background-color: var(--lighterp);
}

.mypic img {
    width: 150px;
    float: left;
    opacity: .8;
    border-radius: 80px;
}
  .card div {
    margin-top: 50%;
    margin-bottom: 50%;
    color: white;
    text-align: center;
    opacity: 60%;
    width: 100%;
    height: 60px;
  }

  .card:hover {
    background-color: var(--rose);
    transition: .8s ease;
    box-shadow: 0 5px 10px 0 black(0, 0, 0, 0.2), 0 6px 20px 0 black(0, 0, 0, 0.19);
    opacity: .5;
  }

  .horiseon {
    width: 180px;
    background-size: cover;
    background-position: center;
    border-style: solid;
    border-radius: 10px;
    border-color: var(--lighterb);
    background-image: url("../images/horiseon.png");
  }

  .password {
    background-size: cover;
    background-position: center;
    border-style: solid;
    border-radius: 10px;
    border-color: var(--lighterb);
    background-image: url("../images/pass-gen.png");
  }

  .d2e {
    background-size: cover;
    background-position: center;
    border-style: solid;
    border-radius: 10px;
    border-color: var(--lighterb);
    background-image: url("../images/donate.png");
  }

  .spanand {
    display: flex;
    align-self: center;
    border-style: none;
    border-radius: 10px;
    background-color: black;
  }

  .about-me {
    display: flex;
    align-items: flex-end;
  }

  .mystory {
    display: inline;
    flex-direction: row;
    text-decoration: none;
    padding-bottom: 60px;
    color: var(--black);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
  }

  .contactme a {
    display: inline;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    padding-bottom: 60px;
    color: var(--black);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    width: 100%;
  }

  /*media screen added to allow the page to fit most cell phone screens*/


  @media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }
  
    main {
      max-width: 1200px;
    }
  }
  