* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
  }
/*Variables set to reuse colors*/
  :root {
    --rose: rgb(236, 218, 218);
    --dark: rgb(4, 0, 0);
    --darker: rgb(92, 89, 89);
    --lighterp: rgb(228, 190, 196);
    --lighterb: rgb(151, 91, 91);
  }

  /*Header with Nav bar styling*/
  header {
    padding: 15px;
    padding: 15px 30px 15px 30px;
    color: var(--dark);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  @keyframes header {
    from {background-color:var(--lighterb);}
    to {background-color: linear-gradient(to bottom right, var(--rose), var(--lighterb));}
  }

  header h1 {
    color: var(--lighterp);
}

/*Nav bar layout*/
  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
/*Href styling*/
nav a {
    text-decoration: none;
    padding: 5px 12px;
    color: var(--dark);
    transition: all .20s ease-in;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

nav a:hover {
    background-color: var(--lighterp);
}

.button {
    border-radius: 28px;;
    padding: 5px 4px;
    text-align: center;
    text-decoration: none;
}

/*Herobanner*/
.hero-banner .ptag {
    background-image: url("../images/comuterpic.jpg");
    height: 600px;
    background-size: cover;
    background-position: center;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: var(--dark);
    animation-name: hero;
    animation-duration: 2s;
  }

  @keyframes hero {
    from {opacity: 0;}
    to {opacity: .5}
  }

  .card:hover {
    background-color: var(--rose);
    transition: .8s ease;
    box-shadow: 0 5px 10px 0 black(0, 0, 0, 0.2), 0 6px 20px 0 black(0, 0, 0, 0.19);
    opacity: .5;
  }

  /*Projects*/
  .horiseon {
    width: 180px;
    background-size: cover;
    background-position: left;
    border-style: solid;
    border-radius: 5px;
    border-color: var(--dark);
    background-image: url("../images/horiseon.png");
  }
  
  /*Gray area infront of projects that gives them the title*/
  .spanand {
    display: flex;
    align-self: center;
    border-style: none;
    border-radius: 10px;
    background-color: black;
  }
  
  /*About me section with my picture*/
  .mypic img {
    width: 150px;
    float: left;
    opacity: .8;
    border-radius: 80px;
  }
  
  .about-me {
    display: flex;
    align-items: flex-end;
  }
  
  .mystory {
    display: inline;
    flex-direction: row;
    text-decoration: none;
    padding-bottom: 60px;
    color: var(--darker);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
  }
  
  /*Contact me section*/
  h2 {
    text-decoration: none;
    color: var(--darker);
  }
  
  h4 {
    text-decoration: none;
    color: var(--darker);
  }
  .contactme a {
    display: inline;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: all .20s ease-in;
    text-decoration: none;
    padding-bottom: 60px;
    color: var(--darker);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    width: 100%;
  }
  
  .contactme a:hover {
    background-color: var(--lighterp);
  }
  
  .button {
    border-radius: 20px;;
    padding: 5px 4px;
    text-align: center;
    text-decoration: none;
  }
  
  .project-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    color: #6178b6;
  }
  
  .project-section h1 {
    text-align: center;
  }
  
  .projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    display: flex;
    justify-content: space-evenly;
    color: #6178b6;
    border: 2px solid #6178b6;
    background-color: lightblue;
    min-height: 200px;
    min-width: 300px;
    margin: 20px;
    transition: all 0.5s;
    text-decoration: none;
  }

.card:hover {
  background-color: #e6d7ad;
  transition: .5s ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card h3 {
  margin: 0;
  font-size: 24px;
}

.card div {
  margin-top: 50%;
  color: white;
  text-align: center;
  background-color: black;
  opacity: 60%;
  width: 100%;
}

/* Portfolio Section Images */
.horiseon {
  background-size: cover;
  background-position: center;
  background-image: url("../images/horiseon.png");
  
}

.password-generator {
  background-size: cover;
  background-position: center;
  background-image: url("../images/pass-gen.png");
}

.d2e {
  background-size: cover;
  background-position: center;
  background-image: url("../images/donate.png");
}


.code-quiz {
  background-size: cover;
  background-position: center;
  background-image: url("../images/whizQscreens.png");
}

.pro2 {
  background-size: cover;
  background-position: right;
  background-image: url("../images/chatcamp.png");
}
/*media screen added to allow the page to fit most cell phone screens*/


@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }
  
  main {
    max-width: 1200px;
  }
}