* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
  }

  :root {
    --rose: rgb(245, 211, 211);
    --black: rgb(107, 96, 96);
  }

  header {
    background: linear-gradient(to bottom right, var(--rose), var(--black));;
    padding: 15px 30px 15px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    padding: 5px 12px;
    color:beige;
    transition: all .20s ease-in;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

.button {
    background-color: var(--black);
    border:none;
    padding: 5px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: ;
}

.hero-banner .ptag {
    background-image: url("../assets/images/comuterpic.jpg");
    height: 90vh;
    background-size: cover;
    background-position: center;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: var(--black);
  }


h1 {
    text-decoration: none;
    padding: 10px 20px;
    color: var(--black);
    transition: all .20s ease-in;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;  
}

.mypic img {
    width: 250px;
    float: left;
}

footer {
    height: 20vh;
}

.about-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 200;
    height: 300;
    float: center;
}